.email_button {
    background-color: #a90533;
    border: none;
    color: black;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    margin: 4px 2px;
    border-radius: 16px;
    font-weight: bold;
    color: white;
}

.Tooltip {
    float: left;
    pointer-events: auto;
    width : 20px;
    height : 20px;
    border-radius : 5px;
    position: relative;
    display: inline-block;
    border-width : 0px;
    color : white;
    background-image:url('ic.jpg');
    background-size:cover;
    opacity: 0.7;
    z-index: 10;
}

.Tooltip:hover:after{
    content: attr(value);
    border-radius : 5px;
    float: right;
    background: black;
    color: white;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    width: 160px;
}

.dropdown-class > .Select-control .Select-clear {
    color: black;
}